.Poblacion .q0-5 { fill: #EFF3FF; }
.Poblacion .q1-5 { fill: #BDD7E6; }
.Poblacion .q2-5 { fill: #6BAFD6; }
.Poblacion .q3-5 { fill: #3282BD; }
.Poblacion .q4-5 { fill: #08529D; }
.Hogares .q0-5 { fill: #F1F0F6; }
.Hogares .q1-5 { fill: #CCCAE2; }
.Hogares .q2-5 { fill: #9E9BC8; }
.Hogares .q3-5 { fill: #756BB0; }
.Hogares .q4-5 { fill: #54278E; }
.Viviendas .q0-5 { fill: #F5FAF6; }
.Viviendas .q1-5 { fill: #B1D2D9; }
.Viviendas .q2-5 { fill: #66B2BF; }
.Viviendas .q3-5 { fill: #339A99; }
.Viviendas .q4-5 { fill: #006766; }
