@charset "utf-8";

/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,audio,canvas,details,figcaption,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,summary,time,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}body{line-height:1;}article,aside,dialog,figure,footer,header,hgroup,nav,section,blockquote{display:block;}nav ul{list-style:none;}ol{list-style:decimal;}ul{list-style:disc;}ul ul{list-style:circle;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}ins{text-decoration:underline;}del{text-decoration:line-through;}mark{background:none;}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}input[type=submit],input[type=button],button{margin:0;padding:0;}input,select,a img{vertical-align:middle;}
ul {list-style: none}
@font-face{ font-family: TheSans; src: url('font/TheSans_TT7_.eot'), url('font/TheSans_TT7_.woff'); }
.clear { clear: both; display: block;}
.bold { font-weight: bold;}
body {font-family: Arial, Helvetica, sans-serif; font-size: 13px;}
h1, h2, nav, article ul#variaciones li,table#ranking th, footer
{font-family: TheSans, Arial, Helvetica, sans-serif;text-transform: uppercase;}
h1 { font-size: 20px}
div#wrapper { width: 980px; margin: 0 auto; padding: 20px 25px; position: relative;}
a#descargar
{ background: url(../img/sprite.png) 0 -227px no-repeat;padding: 5px 0 5px 23px;display: inline-block; position: absolute; top: 25px; right: 30px; text-decoration: none; text-transform:uppercase; color: #333 }
header p {margin: 5px 0 0; font-size: 13.5px}
.num { /*font-family: arial; position: static;*/}
/* barra de navegacion principal */
nav { color: #fff; margin: 30px 0 0; }
nav h2, nav #filtros { float: left; }
nav h2{ width: 440px; display: block; background: url(../img/bg_cel_1.png); height: 18px; padding: 7px 0 0 10px; font-weight: normal; }
nav #filtros { width: 530px; display: block; cursor: pointer;height: 25px; padding: 0; }
nav #filtros div.filtro { width: 175px; float: left; position: relative; height: 19px; padding: 6px 0 0 0px;background: #81C9E2;margin-left: 1px; text-align: center;}
nav #filtros div.filtro h3 { display: block; }
/*nav #filtros div.filtro h3 span { display: block; background: url(../img/sprite.png) 10px -100px no-repeat; width: 15px; height: 15px}*/
nav #filtros div.filtro:hover {background: #33AAD4;}
/*nav #filtros div.filtro.active h3 { background: url(../img/sprite.png) 10px -100px no-repeat;}*/
nav #filtros div.filtro.active {background: #33AAD4;}
.bg_2 {background: url(../img/bg_cel_2.png);}
.bg_3 {background: url(../img/bg_cel_3.png);}
nav #filtros div.filtro span,
article ul#variaciones li span.flecha
{ display: none; position: absolute; top: -13px; left: calc(50% - 8px); width: 15px; height: 15px; background: url(../img/sprite.png) -2px -197px no-repeat;}
nav #filtros div.filtro.active span,
article ul#variaciones li.active span.flecha
{ display: block;}

/* maqueta seccion mapas */
section {/*overflow: hidden;*/ padding: 20px 0 0}
article.col_1, article.col_2 {float: left}
article.col_1 { width: 450px; min-width: 450px; min-height: 100px}
article.col_2 { width: 530px; position: relative}
div#cont_mapas { /*background: #F2F2F2;*/ border: 1px solid #D3D3D3}
article ul#variaciones{ /*overflow: hidden*/}
article ul#variaciones li { width: 155px; display: block; cursor: pointer; float: left; margin-right: 1px; position: relative;background: #81C9E2; color: #fff; font-weight: bold; text-align: center; }
article ul#variaciones li#variacion { width: 215px;}
article ul#variaciones li#censo_2010 { margin: 0;width: 156px;}
article ul#variaciones li h3{ display: inline-block; padding: 3px 0; }
article ul#variaciones li.active, article ul#variaciones li:hover{ background: #33AAD4; }
/*article ul#variaciones li.active h3{ background: #33AAD4; }*/
/*article a#ver_mas{width:80px; position: absolute;top:160px; left: 10px; display:inline-block; background: url(../img/bg_cel_1.png); color:#fff; padding: 3px 0 2px 5px; text-decoration: none; text-transform: uppercase; font-size: 10px}
article a#ver_mas span{ display:inline-block; background: url(../img/sprite.png) 0 -164px no-repeat; color:#fff; width: 19px; height: 15px; position: absolute; top: 0; right: 0}
article a#ver_mas.menos span{ background-position: 0 -129px;}*/

/*div.variables { display: none; padding: 20px;}*/
/*div.variables.active { display: inline-block;}*/
div.variables ul { display: none; padding: 35px 20px 20px }
div.variables.active ul.active { display: block;}
div.variables.censo_2001 ul { }
div.variables.censo_2010 ul { }
/*div.variables ul.hogares, div.variables ul.viviendas{display: none;}*/
div.variables ul li {display: inline-block; width: 93px; padding-bottom: 10px; cursor:pointer; height: 130px; vertical-align: top; position: relative;}
div.variables ul li {display: inline-block; width: 93px; padding-bottom: 10px; cursor:pointer; height: 130px; vertical-align: top; position: relative;}
div.variables ul li a {color: #404040; font-weight: bold; text-decoration: none;}
div.variables ul li a img {position: absolute; top: 30px; left: 0 }
div.variables ul li {opacity: .7}
div.variables ul li.active, div.variables ul li:hover {opacity: 1}

/* tabla ranking */
table#ranking {width: 100%; color: #333; margin-top: 25px}
table#ranking th { text-align: left;}
table#ranking th.parrafo { padding: 3px 0 15px 0; text-transform: none; font-weight: normal; font-family: arial}
table#ranking th span { display: block;font-size: 13px; text-transform: none; font-weight: normal; padding-top: 3px}
table#ranking td {height: 20px; padding-top: 3px}
table#ranking tbody tr {border-bottom: solid 1px #ccc;}
table#ranking td.td_1 {width: 6%; font-weight: bold}
table#ranking td.td_1 { color:#339A99;}
table#ranking.poblacion td.td_1 { color:#339A99;}
table#ranking.viviendas td.td_1 { color:#756BB0;}
table#ranking.hogares td.td_1 { color:#339A99;}
table#ranking td.td_2 {width: 60%; text-transform: capitalize; }
table#ranking td.td_3 {width: 9%; text-align: left;}
table#ranking td strong { font-weight: bold; text-transform: uppercase;}

footer { border-top: 1px solid #ccc; padding: 20px 0; position: relative; }
footer ul#especificaciones{  overflow: hidden;}
footer ul#especificaciones li 
{ float: left;  padding: 3px 10px; display: inline-block; border-left:  1px solid #ccc}
footer ul#especificaciones li:first-child { border: none} 
footer ul#especificaciones li a { color: #333; font-weight: normal; text-decoration: none;}
footer a#ver_creditos{ display: inline-block; color: #fff; padding: 3px 5px; background: #999; text-decoration: none; position: absolute; top: 20px; right: 20px }


div#tooltip { width: 250px; position: absolute;top: 765px; left: 200px; border: 1px solid #ccc; /*border-radius: 5px;*/ background: #fff;}
div#tooltip div.header { margin-bottom: 5px; border-bottom: 1px solid #ccc; }
div#tooltip div.header, div#tooltip div.tabla {padding: 5px}
div#tooltip div.header h3 { font-weight: bold; text-transform: uppercase; }
div#tooltip div.header h3 span { font-weight: normal; text-transform: capitalize; }
div#tooltip div.header p { color: #33AAD4; margin-top: 3px }
div#tooltip div.tabla {}
div#tooltip table { width:95%; margin: 0 auto}
div#tooltip table thead { }
div#tooltip table tbody { }
div#tooltip table td { padding-bottom: 5px}
div#tooltip table .th1 { width:60%; text-align: left;} div#tooltip table .th2 { width:40%; text-align: left;}

/* creditos */
div#creditos { z-index: 999; display: none;}
div#creditos div.bg_box{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: .6 }
div#creditos div.box {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  top: 10%;
  height: auto;
  left: calc(50% - 280px);
  min-height: 260px;
  padding: 20px;
  position: fixed;
  width: 560px;
  display: none;
}
div#creditos div.box ul li {  
  line-height: 16px;
  font-size: 14px;
  margin: 10px 0 0;
  overflow: hidden;
}
div#creditos div.box ul li a { color: #333} 
div#creditos div.box ul li.resp {
  font-size: 13px;
  margin-top: 5px;
}

div#creditos div.box ul li span.rol {
  font-weight: bold;
}
div#creditos div.box ul li hr {
  float: left;
  margin-top: 5px;
  width: 25%;
  border-width: 2px;
  border-color: #666
}
div#creditos div.box ul li.link,
div#creditos div.box ul li.cerrar { cursor: pointer; position: absolute;} 
div#creditos div.box ul li.link a { text-decoration: none;}
div#creditos div.box ul li.cerrar {
    background: url("../img/cerrar.jpg") no-repeat scroll 0 0 transparent; display: block; height: 30px; right: 10px;
    text-indent: -5000px;
    top: 0;
    width: 35px;
}
div#creditos div.box ul li.link { display: inline-block; bottom: 20px; left: 15px}
div#creditos div.box ul li.link.Knight-Center { left: 225px; bottom: 17px;}
div#creditos div.box ul li.link.lanacion { left: 420px; bottom: 15px;}


/*********************** BEGIN Estilos del Mapa ***********************/
g.provincias path {
  stroke: #ddd;
  fill: none;
  stroke-width: 2px;
  stroke-linejoin: round;
}

g.departamentos path {
  stroke: #ddd;
  stroke-width: 1px;
  fill: none;
}

  g.departamentos path:hover {
    cursor: pointer;
  }

  g.departamentos g.inactive {
    opacity: 0.2;
  }

g, #svg path {
  -webkit-transition: fill 200ms linear, opacity 200ms linear , stroke-width 750ms linear; 
  -moz-transition: fill 200ms linear, opacity 200ms linear , stroke-width 750ms linear; 
}

g.legend text {
    font-size: 10px;
}


/***********************   END Estilos del Mapa ***********************/


/* SCROLLABLE TABLE WITH FIXED HEADER */
/* Taken from: http://www.imaputz.com/cssStuff/bigFourVersion.html# */
/* define height and width of scrollable area. Add 16px to width for scrollbar */
div.tableContainer {
	clear: both;
	height: 335px;
	overflow: auto;
}

/* Reset overflow value to hidden for all non-IE browsers. */
html>body div.tableContainer {
	overflow: hidden;
}

/* define width of table. IE browsers only                 */
div.tableContainer table {
	float: left;
}

/* set table header to a fixed position. WinIE 6.x only                                       */
/* In WinIE 6.x, any element with a position property set to relative and is a child of       */
/* an element that has an overflow property set, the relative value translates into fixed.    */
/* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */

thead.fixedHeader tr {
    position: relative
}

/* set THEAD element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
html>body thead.fixedHeader tr {
	display: block
}

/* define the table content to be scrollable                                              */
/* set TBODY element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* induced side effect is that child TDs no longer accept width: auto                     */
tbody.scrollContent {
	display: block;
	height: 262px;
	overflow: auto;
	width: 100%
}
